@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  ul.js-pager__items{
    @apply flex flex-row justify-center mt-10
  }
  
  ul.js-pager__items li{
    @apply mx-5 font-thin
  }

  .we-mega-menu-ul .we-mega-menu-li a,
  .we-mega-menu-ul .we-mega-menu-li.active a
  {
    @apply font-thin bg-white
  }



}
