@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  ul.js-pager__items{
    @apply flex flex-row justify-center mt-10
  }
  
  ul.js-pager__items li{
    @apply mx-5 font-thin
  }

  .main-menu li{
    @apply w-25 px-2

  }

}
