@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  ul.js-pager__items{
    @apply tw-flex tw-flex-row tw-justify-center tw-mt-10
  }
  
  ul.js-pager__items li{
    @apply tw-mx-5 tw-font-thin
  }

  .we-mega-menu-ul .we-mega-menu-li a,
  .we-mega-menu-ul .we-mega-menu-li.active a
  {
    @apply tw-bg-white tw-font-thin
  }



}
