<div class="container mx-auto px-4">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  
  <main role="main">
    <div class="w-full min-h-screen">
      <h1 class="text-2xl">Account Statement</h1>

    </div>
    


  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}



<script>


  window.onload = function(){
    try{

        getInvoices();
  
    }catch(err){
      console.log("Error: URL parameter not found or", err );
    }
  }
  
    const getInvoices = async (uuid) => {
  

    /** FETCH - INVOICE NUMBER AND DATE **/  
    const urlInv = `/d9-base/jsonapi/node/invoice`;
  
    const response_invoice = await fetch(urlInv, {
      method: "GET",
      headers:{
        Accept: 'application/vnd.api+json'
      }
    });
  
    const invoices = await response_invoice.json();
  
    console.log("INVOICE LIST",invoices);


    const invoiceArr = []


    invoices.data.map( async item=>{
      const {attributes:{field_old_invoice_date, field_old_invoice_number}} = item;
      const {relationships:{field_invoice_details:{data:id}}} = item;
      /** Add Invoice date and Invoice number **/
      invoiceArr.push({id: id, data:field_old_invoice_date, number: field_old_invoice_number});

      /** PARAGRPAH DATA URL **/
      const {relationships:{field_invoice_details:{links:{related}}}} = item;
      /** FETCH - PARAGRAPH **/
      const url = related.href;
      const res = await fetch(url, {
        method: 'GET',
        headers:{
          Accept: 'application/vnd.api+json'
        }
      })

      const invPara = await res.json();
  
      const newParagraphsArr = [];

      invPara.data.map( para =>{
        const {attributes:{field_description, field_quantity, field_rate}} = para;
        newParagraphsArr.push({id: para.id, desc: field_description, qty: field_quantity, rate: field_rate});
      });

      
    })

    console.log("NEW INVOICE ARR",invoiceArr);
    console.log("New para Arr", newParagraphsArr);

    
    
    }
  
  

  </script>



