<div class="container mx-auto px-4">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  
  <main role="main">
    <div class="w-full min-h-screen">
      <h1 class="text-2xl">Account Statement</h1>

    </div>
    


  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}



<script>


  window.onload = function(){
    try{

        getInvoices();
  
    }catch(err){
      console.log("Error: URL parameter not found or", err );
    }
  }
  
  const getInvoices = async (uuid) => {
  

    /** FETCH - INVOICE NUMBER AND DATE **/  
    const urlInv = `/d9-base/jsonapi/node/invoice`;
    const response_invoice = await fetch(urlInv, {
      method: "GET",
      headers:{
        Accept: 'application/vnd.api+json'
      }
    });
  
    const invoices = await response_invoice.json();
  
    console.log("INVOICE LIST",invoices);

    const invoiceArr = []
    const paragraphArr = [];

    invoices.data.map(async item =>{
      const {attributes:{field_old_invoice_date, field_old_invoice_number}} = item;
      const {relationships:{field_invoice_details:{data}}} = item;
      /** Add Invoice date and Invoice number **/
      invoiceArr.push({
        id: data, 
        data:field_old_invoice_date, 
        number: field_old_invoice_number});

      /** PARAGRPAH DATA URL **/
      const {relationships:{field_invoice_details:{links:{related}}}} = item;
      /** FETCH - PARAGRAPH **/
      const url = related.href;
      const response_para = await fetch(url,{
        method: 'GET',
        headers:{
          Accept: 'application/vnd.api+json'
        }
      })
      const invPara = await response_para.json();
      invPara.data.map( element => {
        
        const {attributes:{field_description, field_quantity, field_rate}} = element;
        //console.log("old date",field_old_invoice_date);
        paragraphArr.push({
          data: field_old_invoice_date,
          inv_number: field_old_invoice_number,
          id: element.id, 
          desc: field_description.value, 
          qty: field_quantity, 
          rate: field_rate});
      });

    })

    console.log("NEW INVOICE ARR",invoiceArr);
    console.log("New Paragraph", paragraphArr);
    
    }
  
  
  </script>



