<div class="container mx-auto px-4">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  
  <main role="main">
    <div class="w-full min-h-screen">
      <h1 class="text-2xl">Account Statement</h1>
      <div id="view-statement"></div>
    </div>
    


  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}



<script>

  window.onload = function(){
    try{
        getInvoices();
    }catch(err){
      console.log("Error: URL parameter not found or", err );
    }
  }

  const getInvoices = async (uuid) => {

    /** FETCH - INVOICE NUMBER AND DATE **/  
    const urlInv = `/d9-base/jsonapi/node/invoice`;

    const response_invoice = await fetch(urlInv, {
      method: "GET",
      headers:{
        Accept: 'application/vnd.api+json'
      }
    });
  
    const invoices = await response_invoice.json();
  
    console.log("INVOICE LIST",invoices);

    const invoiceArr = []
    const paragraphArr = [];

    invoices.data.map(async item =>{
      const {attributes:{field_old_invoice_date, field_old_invoice_number}} = item;
      const {relationships:{field_invoice_details:{data}}} = item;

      /** PARAGRPAH DATA URL **/
      const {relationships:{field_invoice_details:{links:{related}}}} = item;
      /** FETCH - PARAGRAPH **/
      const url = related.href;
      invoiceArr.push({date: field_old_invoice_date, inv_num: field_old_invoice_number})


      newArray(url, field_old_invoice_number, field_old_invoice_date);   

      })

      console.log("ke garcha",field_old_invoice_date, field_old_invoice_number)
    
    }

     /** CREATE NEW ARRAY WITH Invoice Number, Date, Desc, Qty and amount **/
    
    const arr = [];
    console.log(arr);
    
    const newArray = async (url, inv_num, inv_date) => {

      const response = await fetch(url,{
        method: 'GET',
        headers:{
          Accept: 'application/vnd.api+json'
        }
      })

      const invPara = await response.json();
      console.log(" inv Paragraphs ",invPara);
      invPara.data.map(element => {
        
        const {attributes:{field_description, field_quantity, field_rate}} = element;
        //console.log("old date",field_old_invoice_date);
        arr.push({
          date: inv_date,
          inv_number: inv_num,
          id: element.id, 
          desc: field_description.value, 
          qty: field_quantity, 
          rate: field_rate});
      });

      
    }

    /** view statement **/
    const viewStatement = (data) => {

      console.log("view data",data.arr);

      data.map(item=>{
        console.log(item.date);
        const view = `
        <div class="p-2">${item.date}</div>
        <div class="p-2">${item.inv_number}</div>
        <div class="p-2">${item.desc}</div>
        <div class="p-2">${item.qty}</div>
        <div class="p-2">${item.rate}</div>
        `
        
      });

      document.getElementById("view-statement").innerHTML = "view"
      document.getElementById("view-statement").innerHTML = "statement";

    }

    //viewStatement(arr);

  </script>



