<div class="container mx-auto px-4">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  
  <main role="main">
    <div class="w-full min-h-screen">
      <h1 class="text-2xl">Account Statement</h1>
      <div id="view-statement"></div>
    </div>
    


  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}



<script>

  window.onload = function(){
    try{
        getInvoices();
    }catch(err){
      console.log("Error: URL parameter not found or", err );
    }
  }

  const newArr = [];
  const getInvoices = async (uuid) => {

    /** FETCH - INVOICE NUMBER AND DATE **/  
    const urlInv = `/d9-base/jsonapi/node/invoice`;

    const response_invoice = await fetch(urlInv, {
      method: "GET",
      headers:{
        Accept: 'application/vnd.api+json'
      }
    });
    const invoices = await response_invoice.json().data;
    console.log(invoices);
    

    invoices.forEach((invoice)=>{
      console.log(invoice);
    })
    
    
    
    

  }
  
  


  </script>



