<div class="container mx-auto px-4">

  <header role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  
  <main role="main">
    <div class="w-full min-h-screen">
      <h1 class="text-2xl">Account Statement</h1>
      <div id="view-statement"></div>
    </div>
    


  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}



<script>

  window.onload = function(){
    try{
        getInvoices();
    }catch(err){
      console.log("Error: URL parameter not found or", err );
    }
  }


  const invoiceNew = [];
  console.log("INVOICE NEW",invoiceNew);


  const getInvoices = async () => {

    /** FETCH - INVOICE NUMBER AND DATE **/  
    const urlInv = `/d9-base/jsonapi/node/invoice?include=field_invoice_details`;
    console.log(urlInv);

    const response_invoice = await fetch(urlInv, {
      method: "GET",
      headers:{
        Accept: 'application/vnd.api+json'
      }
    });
    const invoices = await response_invoice.json();
    console.log("INVOICE LIST",invoices);
  
    
    invoices.data.forEach( (item) =>{
      const {relationships:{field_invoice_details:{data}}} = item;
      const {attributes:{field_old_invoice_date, field_old_invoice_number}} = item;
      const newData = [];
      data.map(item=> newData.push(item.id));
      
      invoices.included.map((inc)=>{
        const {attributes:{field_description:{value}, field_quantity, field_rate}} = inc;
        if(newData.includes(inc.id)){
          invoiceNew.push({date: field_old_invoice_date, num: field_old_invoice_number, desc: value, qty: field_quantity, rate: field_rate});
        }
      })
    })
    

  }

  

</script>



